/* Global */
:root {
  --black: purple;
  --light-grey: #d6d6d6;
  --highlight: yellow;
}

body {
  background: var(--black);
  color: var(--light-grey);
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: small;
}
textarea:focus,
input:focus {
  outline: none;
}

.full-width {
  width: 100%;
}
.green {
  color: green;
}
.red {
  color: red;
}
.yellow {
  color: yellow;
}
.center-x {
  margin: 0 auto;
}
.center-text {
  width: 100%;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: medium;
}
h2 {
  font-size: small;
  font-weight: 300;
}
h3 {
  font-size: x-small;
  font-weight: 300;
}
p {
  font-size: x-small;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#vue-instance {
  display: flex;
  flex-direction: row;
  flex: 1 0 100%;
  overflow-x: hidden;
}

/** Chat Window **/
.chat-container {
  flex: 0 0 60%;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 6px;
  margin-bottom: 50px;
}

.message > p {
  font-size: small;
}
.title-header > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/* Info Panel */
.info-container {
  flex: 0 0 40%;
  border-left: solid 1px var(--light-grey);
  padding: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 50px;
  position: relative;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.divider {
  padding-top: 1px;
  max-height: 0px;
  min-width: 200%;
  background: var(--light-grey);
  margin: 12px -12px;
  flex: 1 0;
}

.notification-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-bottom: 24px;
  flex: 1 0 40%;
}

.notification {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: small;
  padding: 4px 0;
  display: inline-flex;
}

.notification-timestamp {
  flex: 0 0 20%;
  padding-right: 12px;
}

.notification-message {
  flex: 0 0 80%;
}
.notification:last-child {
  margin-bottom: 24px;
}

.keys {
  display: block;
  font-size: xx-small;
  overflow-x: hidden;
  overflow-y: scroll;
}

.keys > .divider {
  width: 75%;
  min-width: 0;
  margin: 16px auto;
}

.key {
  overflow: scroll;
}

.room-select {
  display: flex;
  min-height: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

#room-input {
  flex: 0 0 60%;
  background: none;
  border: none;
  border-bottom: 1px solid var(--light-grey);
  border-top: 1px solid var(--light-grey);
  border-left: 1px solid var(--light-grey);
  color: var(--light-grey);
  padding: 4px;
  padding: 12px;
  margin: 2px;
}

.yellow-button {
  flex: 0 0 30%;
  background: none;
  border: 1px solid var(--highlight);
  color: var(--highlight);
  cursor: pointer;
  width: 20px; /* larghezza desiderata */
  height: 30px; /* altezza desiderata */
  font-size: 10px; /* dimensione del testo */
}

.yellow-button:hover {
  background: var(--highlight);
  color: var(--black);
}

.yellow > a {
  color: var(--highlight);
}

.loader {
  border: 4px solid black;
  border-top: 4px solid var(--highlight);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Message Input Bar */
.message-input {
  background: none;
  border: none;
  color: var(--light-grey);
  width: 90%;
}

.bottom-bar {
  border-top: solid 1px var(--light-grey);
  background: var(--black);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 12px;
  height: 150px;
}

.message-list {
  max-height: 400px; /* Imposta un'altezza massima per il contenitore dei messaggi */
  overflow-y: auto; /* Abilita lo scorrimento verticale se necessario */
  margin-bottom: 40px;
  margin-top: 2px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 2rem; /* Modifica questa dimensione a seconda delle tue esigenze */
  font-family: "Orbitron", sans-serif; /* Usa il font futuristico */
  color: transparent;
  background: linear-gradient(
    45deg,
    #ff6e7f,
    #bfe9ff
  ); /* Sostituisci questi colori con quelli che preferisci */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 3s ease-in-out infinite;
  background-size: 200% auto;
  text-align: center; /* Centra il testo, opzionale a seconda del layout desiderato */
}

/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variabili di colore per facilitare il cambio di tema */
:root {
  --primary-color: white; /* Blu per i pulsanti e i link */
  --secondary-color: orange; /* Rosso per gli elementi interattivi o di evidenziazione */
  --background-color: #1e1e1e; /* Sfondo scuro per il tema dark */
  --text-color: #ffffff; /* Bianco per il testo */
  --accent-color: #bfe9ff; /* Azzurro per gli accenti e le decorazioni */
  --input-background-color: #2a2a2a; /* Sfondo per gli input */
  --input-border-color: #333333; /* Bordo per gli input */
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Container principale */
#vue-instance {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 20px;
  gap: 20px;
}

/* Stile per header e footer */
.header,
.footer {
  text-align: center;
  padding: 10px 0;
}

/* Chat e Pannelli */
.chat-container,
.info-container {
  background: var(--input-background-color);
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
}

/* Messaggi */
.message {
  padding: 10px;
  margin-bottom: 10px;
  background: var(--secondary-color);
  color: var(--background-color);
  border-radius: 8px;
  word-wrap: break-word;
}

/* Input e bottoni */
input[type="text"],
.message-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  background: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  color: var(--text-color);
  border-radius: 4px;
}

.yellow-button,
.message-input[type="submit"] {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.yellow-button:hover,
.message-input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

/* Responsività */
@media (max-width: 768px) {
  #vue-instance {
    flex-direction: column;
  }

  .chat-container,
  .info-container {
    width: 100%;
  }
}

/* Loader e animazioni */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid var(--background-color);
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 2s linear infinite;
}

/* Effetti di transizione */
input[type="text"],
.message-input,
.yellow-button,
.message-input[type="submit"] {
  transition: all 0.2s ease-in-out;
}

input[type="text"]:focus,
.message-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 8px var(--primary-color);
}

.chat-container {
  position: relative; /* Aggiungi posizione relativa al container chat */
}

.bottom-bar {
  bottom: 0; /* Posiziona la barra in fondo al container */
  left: 0;
  width: 100%;
  background: linear-gradient(
    45deg,
    black,
    transparent
  ); /* Utilizza lo stesso gradient del titolo */
  padding: 3%;
  box-sizing: border-box;
  z-index: 1;
}

.message-input {
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .bottom-bar {
    margin-bottom: -14%;
    padding: 25px;
  }
}

.keys {
  /* Set a minimum height for the keys container */
  min-height: 500px; /* Adjust as needed */
  overflow-y: auto; /* Allows for scrolling */
  padding: 1em; /* Add some padding for visual comfort */
}

/* Responsive font size for the keys */
.key > p {
  font-size: 2vw; /* Adjust as needed */
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
  .key > p {
    font-size: 4vw; /* Larger font size for smaller screens */
  }
}

.info-container {
  width: 90%; /* Imposta la larghezza desiderata */
  margin: 0 auto; /* Centra il contenitore orizzontalmente */
  padding: 20px; /* Aggiungi spazio interno */
  margin-bottom: 200px;
  min-height: 120%;
}
